.form {
  background-image: url('../../assets/ll.png'), linear-gradient(to bottom right, rgb(255, 255, 255)  ,rgba(157, 255, 255, 0.484)) ;
  padding: 40px;
  min-height: 85vh;
}
.form-container {
  min-height: 55vh;
  padding-bottom: 18px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
}
.form-container .return-button {
  border: none;
  background-color: rgba(128, 128, 128, 0);
  font-size: 20px;
  cursor: pointer;
  color: grey;
  position: relative;
  top: 12px;
  left: 543px;
}