.form {
  background-image: url("../../assets/ll.png");
  background-color: #cfcfcf0e;
  background-position: top 33px right 0;
  padding: 100px 40px;
  min-height: 100vh;
}
.form-container {
  min-height: 55vh;
  padding-bottom: 18px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
}
.form-container .return-button {
  border: none;
  background-color: rgba(128, 128, 128, 0);
  font-size: 20px;
  cursor: pointer;
  color: grey;
  position: relative;
  top: 12px;
  left: 543px;
}

.form .exercise-preview {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  text-align: center;
}

.form .exercise-card {
  z-index: 1;
  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.05);
  margin: 0 30px; /* Adjust the margin as needed */
  max-width: calc(33.33% - 20px);
}
.form .exercise-figure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
.form .exercise-figure:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.form .exercise-figure:hover .exercise-figcaption {
  bottom: 0;
}
.form .exercise-figure:hover h1 {
  opacity: 0;
  transform: scale(0.7);
}
.form .exercise-figure:hover .exercise-img {
  transform: scale(1.25);
}
.form .exercise-figure h1 {
  position: absolute;
  top: 10px;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  opacity: 1;
  transform: scale(1);
  transition: 0.25s ease;
  z-index: 999;
}
.form .exercise-img {
  height: 100%;
  background-size: contain;
  transition: 0.25s;
}
.form .exercise-figcaption {
  position: absolute;
  bottom: -24%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  transition: 0.25s;
}

.form .exercise-figure .exercise-figcaption h3 {
  margin: 0 0 20px;
  padding: 0;
}

.form .exercise-figure .exercise-figcaption p {
  font-size: 14px;
  line-height: 1.3;
}

.form .exercise-buttons {
  display: flex;
  column-gap: 4px;
}

.form .exercise-button {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
