.favorites-page, .my-workouts-page, .workouts-page, .home, .error-page{
  min-height: 100vh;
  padding-top: 20px;
}
.favorites-page {
  background-image: linear-gradient(to bottom right, #eda2bd73, #45173679);
}

.my-workouts-page {
  background-image: linear-gradient(to bottom right, #86df897d, #21672472);
}

.workouts-page {
  background-image: linear-gradient(to bottom right, #7cc1e372, #104a6772);
}

.home {
  background-image: linear-gradient(to bottom right, #ff800091  ,#ff810382);
}

.home-icon {
  position: fixed;
  bottom: -10px;
  left: 0;
  width: 15%;
  z-index: 0;
}

.bottom-left-icon {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 15%;
  z-index: 0;
}

.workouts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-bottom: 150px;
  padding-top: 15px;
  }