.favorites-page,
.my-workouts-page,
.workouts-page,
.home,
.error-page {
  min-height: 100vh;
  padding-top: 80px;
}
.favorites-page {
  background-image: linear-gradient(to bottom right, #eda2bd73, #45173679);
  /* background-image: url('../../assets/ll.png'), linear-gradient(to bottom right, #eda2bd73  ,#45173679) ; */
}

.my-workouts-page {
  background-image: linear-gradient(to bottom right, #86df897d, #21672472);
  /* background-image: url('../../assets/ll.png'), linear-gradient(to bottom right, #86df897d  ,#21672472) ; */
}

.workouts-page {
  background-image: linear-gradient(to bottom right, #7cc1e372, #104a6772);
  /* background-image: url('../../assets/ll.png'), linear-gradient(to bottom right, #7cc1e372  ,#104a6772) ; */
}

.home {
  background-image: linear-gradient(to bottom right, #ff800077, #ff810374);
  /* background-image: url('../../assets/ll.png'), linear-gradient(to bottom right, #ff800091  ,#ff810382) ; */
}

.about-page {
  background-color: #47ffff;
  background-image: url("../../assets/ll.png");
  background-position: top 33px right 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
}
.about-page img {
  width: 100%;
}
.about-page .img-div {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 888px) {
  .about-page {
    flex-direction: column;
  }
  .about-page img {
    width: 50%;
  }
}

.home-icon {
  position: fixed;
  bottom: -10px;
  left: 0;
  width: 10%;
  z-index: 0;
}

.bottom-left-icon {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 10%;
  z-index: 0;
}

.workouts, .users{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-bottom: 150px;
  padding-top: 15px;
}

.page-title {
  font-size: 40px !important;
  margin: 15px auto !important;
  width: 35%;
  padding: 10px;
  font-family: "Kanit" !important;
  text-align: center;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px !important;
  box-sizing: border-box;
  color: #000000;
  font-weight: 500 !important;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.login-page {
  background-image: url("../../assets/ll.png");
  background-color: #cfcfcf0e;
  background-position: top 33px right 0;
  padding: 100px;
}
.admin-panel {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  background-color: #cf998c;
  background-image: url("../../assets/ll.png");
  background-position-x: right;
  background-position-y: 33px;
  padding: 120px 0;
}
.admin-panel .table-button {
  margin: 0 10px;
  border: none;
  cursor: pointer;
}
.admin-panel .format-button {
  position: absolute;
  top: 90px;
  right: 0;
  left: 0;
  margin: auto;
  width: 140px;
  align-self: center;
  background-color: #000000;
  background-image: none;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border: 2px solid white;
  box-shadow: rgba(255, 255, 255, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
