.single-workout-page {
  font-family: "Kanit";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(13,24,45,.49),rgba(13,24,45,.49)),url('../../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.single-workout-page .single-workout-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 25px;
  width: 50%;
  padding: 20px;
  box-shadow: 1px 1px 20px grey;
  background-image: linear-gradient(rgb(242 134 133), rgb(255 187 186));
}

.single-workout-page .workout-title {
  font-size: 3.5em;
}

.img-container .workout-img{
  max-height: 600px;
  max-width: 80%;
  margin: 15px auto 0; 
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
  rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.exercises-container {
  font-size: 2em;
  width: 70%;
  margin: 0 auto 40px;
  border-radius: 10px;
}

.single-workout-page .exercise-title {
  font-size: 1em;
  margin-bottom: 20px;
}

.single-workout-page .Exercises-title {
  font-size: 1.5em;
}

.single-workout-page .exercise:first-child {
  margin-top: 20px;
}

.single-workout-page .exercise {
  background-image: linear-gradient(rgb(133, 242, 242),rgb(255, 255, 255));
  width: 80%;
  margin: 0px auto 70px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 20px rgb(37, 34, 34);
}

.single-workout-page .exercise-img {
  border-radius: 10px;
  width: 90%;
}

.single-workout-page .exercise-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 35px;
  font-size: 0.7em;
}

.single-workout-page .workout-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 988px) {
  .single-workout-page .single-workout-container {
    width: 80%;
  }
  .exercises-container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .exercises-container {
    width: 100%;
  }
}