.scroll-button {
  position: fixed;
  left: 4%;
  bottom: 285px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: rgb(233, 233, 233);
  border: none;
  background-color: transparent;
}
