.workout-card {
  position: relative;
  z-index: 1;
  padding: 0;
}
.workout-card:hover .multi-button button {
  display: grid;
}
.workout-card .multi-button {
  --background: #000000;
  --text: rgb(255, 255, 255);
  z-index: 0;
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
  border-radius: 100%;
  width: 0rem;
  height: 0rem;
  transform: translate(-50%, -50%);
  transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
}
.workout-card .multi-button button {
  display: none;
  place-items: center;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 100%;
  background: var(--background);
  color: var(--text);
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0rem -0.25rem var(--background);
}
.workout-card .multi-button button:hover {
  background: var(--text);
  color: var(--background);
  box-shadow: 0 0 1rem -0.25rem var(--background);
}
.workout-card .multi-button button:first-child:nth-last-child(1) {
  left: 25%;
  top: 25%;
}
.workout-card .multi-button button:first-child:nth-last-child(2):nth-child(1),
.workout-card .multi-button button:first-child:nth-last-child(2) ~ *:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}
.workout-card .multi-button button:first-child:nth-last-child(2):nth-child(2),
.workout-card .multi-button button:first-child:nth-last-child(2) ~ *:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}
.workout-card .multi-button button:first-child:nth-last-child(3):nth-child(1),
.workout-card .multi-button button:first-child:nth-last-child(3) ~ *:nth-child(1) {
  left: 50%;
  top: 15.625%;
}
.workout-card .multi-button button:first-child:nth-last-child(3):nth-child(2),
.workout-card .multi-button button:first-child:nth-last-child(3) ~ *:nth-child(2) {
  left: 25%;
  top: 25%;
}
.workout-card .multi-button button:first-child:nth-last-child(3):nth-child(3),
.workout-card .multi-button button:first-child:nth-last-child(3) ~ *:nth-child(3) {
  left: 15.625%;
  top: 50%;
}
.workout-card .multi-button button:first-child:nth-last-child(4):nth-child(1),
.workout-card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(1) {
  left: 62.5%;
  top: 18.75%;
}
.workout-card .multi-button button:first-child:nth-last-child(4):nth-child(2),
.workout-card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(2) {
  left: 37.5%;
  top: 18.75%;
}
.workout-card .multi-button button:first-child:nth-last-child(4):nth-child(3),
.workout-card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(3) {
  left: 18.75%;
  top: 37.5%;
}
.workout-card .multi-button button:first-child:nth-last-child(4):nth-child(4),
.workout-card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(4) {
  left: 18.75%;
  top: 62.5%;
}
.workout-card:hover .multi-button, .workout-card .multi-button:focus-within {
  width: 10rem;
  height: 10rem;
}

.workout-figure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  margin: 30px
}

.workout-figure:hover {
  box-shadow: 6px 6px 30px;
}
.workout-figure:hover h1 {
  opacity: 0;
}
.workout-figure:hover .workout-img {
  transform: scale(1.25);
}
.workout-figure:hover .workout-figcaption {
  bottom: 0;
}
.workout-figure h1 {
  position: absolute;
  top: 30px;
  left: 30px;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  line-height: 1;
  width: 240px;
  opacity: 1;
  transform: scale(1);
  transition: 0.25s ease;
  z-index: 999;
}
.workout-figure .workout-img {
  height: 100%;
  transition: 0.25s;
}
.workout-figure .workout-figcaption {
  position: absolute;
  bottom: -32%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  transition: 0.25s;
}

.workout-figure .workout-figcaption h3 {
  margin-top: -10px;
  padding: 0;
  
}
.workout-figure .workout-figcaption p {
  font-size: 14px;
  line-height: 1.3;
}
.workout-figure .workout-figcaption button {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding: 10px 30px;
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.workout-card .private {
  position: absolute;
  background-color: rgba(146, 146, 146, 0.854);
  top: 0px;
  right: 0px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-card p.likes {
  position: absolute;
  bottom: -2px;
  right: 14px;
  color: white;
}
.workout-card .profilePic {
  bottom: 10px;
  left: 10px;
  position: absolute;
  width: 35px;
  border-radius: 50%;
}

@media (max-width: 348px) {
  .workout-figure {
    width: 215px;
    height: 330px;
  }
  .workout-figure .workout-figcaption {
    bottom: -38%;
  }
  .workout-figure .workout-figcaption h3 {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .workout-figure .workout-figcaption p {
    font-size: 12px;
  }
  .workout-figure .workout-figcaption button {
    padding: 10px 20px;
    margin: 10px auto 28px auto;

  }

}